/* utilities */

section {
  margin-bottom: 30px;
}

img {
  width: 100%;
}

#social-media .fa-brands {
  font-size: 12px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

#social-media .fa-facebook-f {
  padding: 10px 12px;
}

#social-media .fa-google-plus-g {
  padding: 10px 8px;
}

.location {
  margin-bottom: 0px;
}

.color-white {
  color: white;
}

.bg-gray {
  background-color: gray;
}

.bg-darkblue {
  background-color: rgb(5 51 80);
}

.bg-greenblue {
  background-color: rgb(68, 201, 157);
}

.bg-red {
  background-color: rgb(126, 23, 43);
}

.bg-blue {
  background-color: rgb(9 85 133);
}

.bg-black {
  background-color: black;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: purple;
}

.height-400px {
  height: 400px;
}

.height-200px {
  height: 200px;
}

.font-size-13px {
  font-size: 13px;
}

.text-align-center {
  text-align: center;
}

.border-2px {
  border: 2px solid;
}

.ag-margin-20-0 {
  margin: 20px 0px;
}

.ag-font-size-19px {
  font-size: 19px;
}

.ag-width-400px {
  max-width: 400px;
}

.ag-border-radius-20px {
  border-radius: 20px;
}

.ag-padding-t-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ag-margin-bottom-15px {
  margin-bottom: 20px;
}
.ag-border-bottom-gray {
  border-bottom: 1px solid rgb(160, 160, 160);
}

.ag-border-none {
  border: none;
}

.ag-padding-0 {
  padding: 0;
}

.ag-background-0 {
  background: none;
}

.ag-font-size-15px {
  font-size: 15px;
}
